.credits {
    border: none;
    display: inline;
    position: absolute;
    top: 10px;
    left: 10px;

    .expandCredits, .allInfo {
        float: left;
    }
    i.expandCredits {
        font-size: 2rem;
        margin-right: 15px;
    }
    i.expandCredits:hover, i.expandCredits:focus, i.expandCredits:active {
        text-shadow: 2px 2px 3px rgba(51, 0, 0, 0.7);
    }
    p {
        display: inline;
    }
    p, a {
        font-size: 1.5rem;
    }
    a {
        padding: 0;
        text-align: left;
        margin-bottom: 5px;
        text-decoration: underline;
    }
    i {
        font-size: 1.8rem;
        margin: 0;
    }
    .individualInfo, .expandCredits, p {
        color: white;
    }
    .hidden {
        display: none;
    }
    .allInfo {
        margin-top: 1px;
    }
}