/* ======== GLOBAL STYLES ======= */

html {
    font-size: 62.5%;
    background: rgb(243, 34, 34);
}
body {
    font-family: 'Montserrat', sans-serif;
}
.wrapper {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 10px;
    transition: all 1s ease;
}