html {
    font-size: 62.5%;
}
body {
    font-family: 'Montserrat', sans-serif;
}
.wrapper {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 10px;
}
.fa-events-icons-ready {
    // height: 100vh;

}