/* ======== SPLASHPAGE STYLES ======= */

@keyframes hover {
        0% {
            top: 15px;
        }
        50% {
            top: -5px;
        }
        100% {
            top: 15px;
        }
    }

.splashPage {
    background: rgb(243, 34, 34);
    height: 100vh;
    text-align: center;
    padding-top: 27vh;
    position: relative;

    .logo, img {
        margin: 0 auto;
    }
    img {
        width: 135px;
        position: relative;
        top: 15px;
    }
    .hover {
        animation: hover 1.2s ease-in-out infinite;
        animation-fill-mode: both;
    }
    .logo {
        font-family: "giddyup-std",sans-serif;
        font-weight: 400;
        font-size: 7rem;
        display: block;
        text-align: center;
        color: white;
    }
    button {
        background: transparent;
        border: 2px solid white;
        padding: 0;
        margin-top: 5vh;
        position: relative;
        top: 0;
        transition: all 0.5s ease;
    }
    button:hover {
        background: rgba(255, 255, 255, 0.07);
        top: -2.5px;
    }
    a {
        display: inline-block;
        color: white;
        padding: 10px 30px;
        text-decoration: none;
        font-size: 2.5rem;
        font-size: 2rem;
        transition: all 0.5s ease;
    }
    button:hover a {
        // font-weight: 500;
        // padding: 10px 29.5px;
        padding: 12.5px 35px;
    }
}
