/* ======== USER INPUT PAGE STYLES ======== */ 

.userInputPage {
    background: rgb(243, 34, 34);
    min-height: 100vh;
    padding-bottom: 1px;    
    
    header.compact {
        margin-top: 5vh;

        p:last-of-type {
            margin-bottom: 15px;
        }
    }
    header p {
        color: white;
        font-size: 2rem;
        margin: 7px auto;
    }
    header p:last-of-type {
        margin-bottom: 5vh;
    }
    header, form {
        max-width: 700px;
        margin: 0 auto; 
    }
    header {
        margin-top: 25vh;
    }
    form {
        button {
            width: 25%;
            border-radius: 0 2px 2px 0;
            background: rgb(245, 159, 0);
            color: white;
            transition: all 0.25s ease;
        }
        button:hover, button:focus, button:active {
            background: rgb(230, 142, 0);
        }
    }
    input, button {
        border: none;
        font-size: 2rem;
        padding: 8px 5px;
    }
    input {
        width: 75%;
        border-radius: 2px 0 0 2px;
        padding-left: 10px;
    }
    input::placeholder {
        color: rgb(185, 185, 185);
    }
}

.showbox {
    min-height: 25vh;
}

.restaurant-container {
    position: relative;
    background: white;
    min-height: 310px;
    margin: 25px auto;
    padding: 30px 0px 18.5px 0px;
    max-width: 700px;
    border-radius: 2px;

    .restaurant-image, .restaurant-info {
        width: calc(50% - 7.5px);
        float: left;
        border-radius: 2px;
    }
    .restaurant-info {
        margin-right: 15px;
    }
    .restaurant-info p {
        font-size: 2rem;
        margin: 5px 0
    }
    h2 {
        font-size: 3.5rem;
        font-family: 'Oswald', sans-serif;
        margin-top: 0;
        position: relative;
        line-height: 4rem;
    }
    h2::after {
        content: '';
        position: absolute;
        height: 2px;
        width: 95%;
        background: grey;
        bottom: -15px;
        left: 0;
    }
    
    .restaurant-image {
        height: 250px;
        overflow: hidden;
        border-radius: 2px;

        img {
            min-width: 100%;
            min-height: 100%;
            transform: translatey(-50%);
            display: block;
            position: relative;
            top: 50%;
        }
    }
    .restaurant-card {
        width: 100%;
        padding: 0 30px;
    }
    .arrow {
        fill: #777;
    }

    .carousel {
        height: 262px;
    }

    .carousel .flickity-viewport {
        position: absolute;
        width: 100%;
    }   

    .flickity-page-dots {
        bottom: -303px;
        position: relative;
    }

    .flickity-prev-next-button {
        transition: 0.3s;
    }

    .flickity-prev-next-button.previous {
        left: -60px;
    }
    .flickity-prev-next-button.next {
        right: -60px;
    }
    
    .priceLevel {
        position: absolute;
        bottom: 0;
        p.price {
            margin: 0;
        }
    }
}

.userInputPage form, .userInputPage header, .restaurant-container {
        transition: max-width 1s ease,
                    width 1s ease;
}

.error-message {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;

    div {
        margin-top: 6%;
        text-align: center;
    }

    p {
        font-size: 1.9rem;
        margin: 0;

        &:nth-of-type(2) {
            margin-bottom: 10px;
        }
        span {
            font-size: 2.5rem;
        }
    }

    .hmm {
        font-size: 4rem;
        font-family: 'Oswald', sans-serif;
        margin: 0 0 10px 0;
    }

    .error-image {
        margin-top: 10px;

        img {
            min-width: 12%;
            width: 12%;
            display: inline-block;
        }
    }
}

.priceLevel {
    position: absolute;
    bottom: 0;

    p.price {
        margin: 0;
    }
}

button.more {
    border-radius: 0 2px 2px 0;
    background: rgb(245, 159, 0);
    color: white;
    transition: all 0.25s ease;
    padding: 8px 15px;
    position: absolute;
    bottom: -91px;
    left: 50%;
    transform: translateX(-50%);
}

button.more:hover, button.more:focus, button.more:active {
    background: rgb(230, 142, 0);
}

/* User Input Page Responsive */

@media (max-width: 870px) {
    .flickity-prev-next-button {
        background: none;

        .arrow {
            transition: 0.3s;
            fill: #fff;
        }

        &:hover {
            background: none;
        }
    }

    .restaurant-container .flickity-prev-next-button.next {
        right: -45px;
    }

    .restaurant-container .flickity-prev-next-button.previous {
        left: -45px;
    }

    .userInputPage form,
    .userInputPage header,
    .restaurant-container {
        max-width: 600px;
    }

    .restaurant-container .restaurant-info p {
        font-size: 1.8rem;
        margin: 3px 0;
    }
}

@media (max-width: 690px) {
    .flickity-prev-next-button {
        display: none;
    }

    .flickity-page-dots .dot {
        height: 9px;
        width: 9px;
    }

    .error-message p {
        font-size: 1.7rem;

        span {
            font-size: 2.3rem;
        }
    }
}

@media (max-width: 580px) {
    .restaurant-container {
        min-height: 283px;
        padding-top: 15px;
        padding-bottom: 0;

        .restaurant-card {
            padding: 0 15px;
        }

        h2 {
            font-size: 3.5rem;

            &::after {
                bottom: -10px;
            }
        }
    }

    .restaurant-container .priceLevel {
        bottom: -4px;
        position: static;
    }

    .restaurant-container .restaurant-info {
        width: calc(40% - 7.5px);
    }

    .restaurant-container .restaurant-image {
        width: calc(60% - 7.5px);
    }

    .address p:nth-of-type(2),
    .address p:nth-of-type(3) {
        display: none;
    }

    .restaurant-container .flickity-page-dots {
        bottom: -283px;
    }

    .flickity-page-dots .dot {
        height: 6px;
        width: 6px;
    }

    .restaurant-container .carousel {
        height: 260px;
    }

    button.more {
        bottom: -79px;
    }

    .error-message div {
        margin-top: 3%;
    }
}

@media (max-width: 505px) {
    .userInputPage form {
        margin-top: 10px;
    }
    .compact {
        display: none;
    }
    .userInputPage header .location {
        text-align: left;
    }
    .priceLevel {
        display: none;
    }

    .restaurant-container {
        margin-top: 10px;
        min-height: 406px;

        h2 {
            font-size: 3rem;
        }

        h2::after {
            width: 100%;
        }
    }

    .restaurant-container .restaurant-image, .restaurant-container .restaurant-info {
        float: none;
        width: 100%;
        text-align: center;
    }

    .restaurant-container h2 {
        margin-bottom: 0
    }

    .restaurant-container h2::after {
        width: 0;
    }

    .restaurant-container .restaurant-info p {
        margin-bottom: 15px;
    }

    .restaurant-container .flickity-page-dots {
        bottom: -354px;
    }

    .flickity-page-dots .dot {
        margin: 0 5px;
    }

    .restaurant-container .carousel {
        height: 340px;
    }

    .userInputPage input,
    .userInputPage button {
        font-size: 1.7rem;
    }

    .userInputPage header p {
        text-align: center;
    }

    .error-message div {
        margin-top: 14%;
    }
}

@media (max-width: 400px) {
    .userInputPage header p {
        font-size: 1.8rem;
        margin: 20px auto;
    }

    .userInputPage form {
        margin-top: 15px;
    }

    .flickity-page-dots .dot {
        height: 4px;
        width: 4px;
        margin: 0 4px;
    }
}

@media (max-width: 370px) {
    button.more {
        font-size: 1.5rem;
        bottom: -45px;
    }

    .error-message div {
        margin-top: 21%;
    }
}
@media (max-height: 620px) {
    .userInputPage header.compact p:last-of-type {
        margin-bottom: 5px;
    }
    .userInputPage header p.location {
        margin-bottom: 4px;
        margin-top: -10px;
    }
    .restaurant-container {
        margin-top: 15px;
    }
    .restaurant-container .flickity-page-dots {
        bottom: -290px;
    }

    button.more {
        bottom: -70px;
    }
}
@media (max-height: 620px) and (max-width: 580px) {
    .restaurant-container .flickity-page-dots {
        bottom: -278px;
    }
}
@media (max-height: 620px) and (max-width: 505px){
    .restaurant-container .flickity-page-dots {
        bottom: -338px;
    }  
    button.more {
        bottom: -46px;
    }
    .restaurant-container {
        min-height: 375px;
    }
}

